/.cursor
/Bundesliga23_24.ttl
/Bundesliga23_24_test.jsonld
/Bundesliga23_24_test.nt
/Bundesliga23_24_test.ttl
/Bundesliga23_24_test_triples_linearized.jsonl
/cdf_all_matches.json
/cdf_batch_output
/chroma_langchain_db
/debug-067ee6.log
/images
/jsonld_batch_output
/LICENSE
/ontology.jsonld
/open-data
/README.md
/requirements.txt
/statements.ttl
/Thesis.pdf